:root{
    --main-color: #fec260
}
::selection{
    background-color: var(--main-color);
}
body{
    background-color: #F7ECDE;
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 50px
}
h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: var(--main-color);
    transition: height 350ms;
    z-index: -1;
}
h1:hover::before{
    height: 45%;
}
h2{
    font-family: 'Righteous', cursive;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bookmark-body {
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}
.btn-submit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #d1512d;
    --bs-btn-border-color: #d1512d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb4120;
    --bs-btn-hover-border-color: #a03315;
}
.IsValide:focus {
    border-color: var(--main-color) !important;
    box-shadow: 0 0 0 0.3rem rgba(254, 194, 96, 0.3) !important;
}
.NotValide{
    border-color: #dc3545 !important;
}
.NotValide:focus{
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.3rem rgba(220, 53, 69, 0.3) !important;
}
.box-info {
    background-color: #0007;
}
.box-conent {
    width: 500px;
    z-index: 10;
}
.btn-visit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #9eb23b;
    --bs-btn-border-color: #9eb23b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8a9e23;
    --bs-btn-hover-border-color: #6e8018;
}
.btn-delete {
    --bs-btn-color: #fff;
    --bs-btn-bg: #eb1d36;
    --bs-btn-border-color: #eb1d36;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d30820;
    --bs-btn-hover-border-color: #ba081d;
}